.root {
    .header {
        display: block;
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 12px;
        text-transform: capitalize;
    }

    .content {
        display: flex;
        flex-wrap: wrap;
    }

    .gameCard {
        margin-bottom: 16px;
    }
}