:root {
    --color-white: #FFFFFF;
    --color-category: #F8F9FB;
    --color-background: #EDECEC;
    --color-grey: #DCDCE5;
    --color-secondary-text: #4A4343;
    --color-black: #000000;
    --color-alert: #E31616;
    --color-input-stroke: #696969;
    --color-stroke-light: #F2F2F2;
}