:root {
    --color-white: #FFFFFF;
    --color-black: #000000;

    --color-gray-100: #F8F9FB;
    --color-gray-200: #F2F2F2;
    --color-gray-300: #EDECEC;
    --color-grey-400: #DCDCE5;
    --color-gray-500: #696969;
    --color-gray-600: #4A4343;

    --color-red: #E31616;
}