.root {
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
        display: inherit;
        flex-direction: column;
        width: 100%;
        min-height: 90vh;

        > :not(:last-child) {
            margin-bottom: 32px;
        }

        .addPlayerButton,
        .submitButton {
            margin-left: auto;
            margin-right: auto;
        }

        .addPlayerButton {
            height: 32px;
            padding: 0 4px;
            width: max-content;

            span {
                line-height: 140%;
                text-decoration-line: none;
            }
        }

        .submitButton {
            display: flex;
            width: 70%;
            margin-top: auto;
            margin-bottom: 40px;
        }
    }
}