.root {
    .content {
        display: flex;
        justify-content: space-between;

        .signUp {
            align-self: center;
            font-weight: 700;
            font-size: 14px;
            font-family: "Roboto Condensed", serif;
            text-decoration: underline;
        }
    }
}