.firstPlace {
    border-bottom-color: #F0BE0C;

    .place {
        background-image: url("/goldCup.svg");
    }
}

.secondPlace {
    border-bottom-color: #BCB393;

    .place {
        background-image: url("/silverCup.svg");
    }
}

.thirdPlace {
    border-bottom-color: #B54B29;

    .place {
        background-image: url("/bronzeCup.svg");
    }
}

.firstPlace,
.secondPlace,
.thirdPlace {
    height: 50px;
    border-bottom-width: 2px;
    border-bottom-style: solid;

    .place {
        color: var(--color-white);
        background-repeat: no-repeat;
        background-position: 50% 75%;
    }

    :global {
        .labeled-value {
            &__value {
                font-size: 20px;
                font-weight: 500;
            }
        }
    }
}

.firstPlace,
.secondPlace,
.thirdPlace,
.root {
    display: grid;
    grid-template-columns: 90px auto max-content;
    align-items: center;

    .place {
        height: 40px;
        margin-right: 40px;
        display: inherit;
        text-align: center;
        align-items: center;
        font-family: "Ultra", sans-serif;
        font-size: 18px;
        line-height: 140%;
    }

    .totalScore {
        font-size: 20px;
        font-weight: 700;
        line-height: 140%;
    }
}