.button {
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 10px 8px;
    background-color: var(--color-black);
    border: none;

    &__content {
        color: var(--color-white);
        padding: 0 22px;
        width: 100%;
        font-size: 16px;
        font-weight: 700;
        line-height: 140%;
        font-family: "Roboto Condensed", sans-serif;
    }

    &:after {
        bottom: 2px;
        border-top: 1px solid;
        border-right: 1px solid;
    }

    &:before {
        top: 2px;
        border-bottom: 1px solid;
        border-left: 1px solid;
    }

    &:after,
    &:before {
        position: relative;
        content: "";
        display: block;
        min-width: 24px;
        min-height: 24px;
        border-color: color-mix(in srgb, var(--color-white) 50%, transparent);
    }
}

.button.button-secondary {
    background-color: var(--color-white);
    border: 1px solid color-mix(in srgb, var(--color-grey-400) 50%, transparent);

    .button__content {
        color: var(--color-black);
    }

    &:after,
    &:before {
        border-color: var(--color-grey-400);
    }
}

.button,
.button-secondary {
    &:disabled {
        background-color: color-mix(in srgb, var(--color-black) 10%, transparent);

        .button__content {
            color: color-mix(in srgb, var(--color-black) 15%, transparent);
        }

        &:after,
        &:before {
            border-color: transparent;
        }
    }
}

.button.button-link {
    padding: 0;
    background: transparent;

    .button__content {
        padding: 0;
        color: var(--color-black);
        font-size: 14px;
        line-height: 120%;
        text-decoration-line: underline;
    }

    &:before,
    &:after {
        content: none;
    }
}